@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ymForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
} */

.MainForm_ym{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    max-width: 800px;
    height: 100vh;
    align-items: center;
}
.ymForm{
    position: sticky;
    top: 10px;
    display: flex;

    margin-right: 15px;

    flex-direction: column;
    width: 100%;
}

.result{
    display: block;
    width: 100%;
    padding: 5px 0 5px 5px;
    margin: 0;
    color: #fbfbfb;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    white-space: pre-wrap;
    word-break: break-all;
    height: 420px;
    display: block;
    overflow-x: auto;
}
.flex_ym{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

}
.flex_ym{
    font-size: 35px;
    color: white;
    margin:20px 0;
    color: rgb(231, 131, 60);

}
.ResultCode{
    white-space: pre-wrap;    
}
.result code.html{
    background: transparent;
}
.leftRight {
    position: relative;
}
.block_ym{
    margin-bottom: 1.5rem;
}
.leftRight .Left {
    position: absolute;
    left: 0;
    top: 30px;
    width: 50%;
    height: 100%;
font-size: 12px;
    z-index: 1;
    color: rgb(231, 131, 60);
}
.leftRight .Right {
    position: absolute;
    right: -150px;
    top: 20px;
    width: 50%;
    height: 100%;
    z-index: 1;
    font-size: 12px;
    color: rgb(231, 131, 60);
}

@media screen and (max-width:991px){

    .MainForm_ym{    
    flex-direction: column;
    padding: 2rem;
    height: auto;
    overflow-y: hidden !important;
}
}